{% extends 'layout.html' %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock  %}

{% block page_title %}
Update a Flavour{% endblock %}
 {% block content%}  

<form action="" method='POST'>
    {% csrf_token %}

    <table>
        <tr>
            <th>Action</th>
            <td>{{form.action}}</td>
        </tr>
        <tr>
            <th>Flavour</th>        
            <td>{{form.flavour}}</td>

        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{form.quantity}}</td>
        </tr>
    </table>

    <br/>

    <input type="submit" value='Update' class='btn btn-primary'>

</form> 

<br/><br/>

<table>
    <tr><th>Your balance is :</th><td style='font-type:bold'>{{balance}}</td></tr>
</table>


 {% endblock %}