{% extends 'layout.html' %}
{% load static %}

{% block css_files  %}
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock  %}
{% block page_title %}
Add a Flavour
{% endblock %}
{% block content %}


<form method='POST' action="">
{% csrf_token %}

<table>
    <tr>
        <th>Title</th>
        <td>{{form.title}}</td>
    </tr>
    <tr>
        <th>Genre</th>        
        <td>{{form.genre}}</td>

    </tr>
    <tr>
        <th>Quantity</th>
        <td>{{form.quantity}}</td>
    </tr>
</table>
<br/><br/   >
<button type='submit' class='btn btn-secondary'>Submit</button>
</form>

{% endblock%}
